
@{
    ViewData["Title"] = "Kitchen";
 
}
<div class="container">
    <table class="table table-dark mt-3">
        <thead>
            <tr>
                <th>Id</th>
                <th> Product Name</th>
                <th>Quantity</th>
          

                <th>Table Number</th>


                <th>Employee</th>
       
            </tr>
        </thead>
        <tbody>
            @foreach (OrderDto order in ViewBag.orders)
            {
            <tr>
                <td>@order.Id</td>
                <td>@order.ProductName</td>
                <td>@order.Quantity</td>



                <td>@order.TableId</td>
                <td>@order.FullName </td>

            </tr>
            }
        </tbody>
    </table>

</div>
